body{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(42, 62, 62);
}

.container{
    
    position: relative;
    height: 550px;
    width: 500px;
    padding: 30px 50px;
    border-radius: 30px;
    box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25) , 
    10px 10px 70px rgba(0, 0, 0, 0.25) ,
    inset 5px 5px 10px rgba(0, 0, 0, 0.5) ,
    inset 5px 5px 20px rgba(255, 255, 255, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
    ;
}


h1{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: white;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-weight: 600;
    font-size: 50px;
}

.box{
    display: flex;
    justify-content:space-around;
    gap: 100px;
    
}
.text{
    font-family: 'Patrick Hand', cursive;
    font-weight: 600;
    font-size: 25px;
    width: 100%;
    border: none;
    outline: none;
    padding: 1px 15px ;
    border-radius: 30px;
    
}

/* .btn{
    font-family: 'Anton', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: white;
    font-size: larger;
} */

.btn:hover  {
    background-color:rgb(194, 226, 255);
}
.dlt:hover{
    color: black;
    background-color:rgb(194, 226, 255);
}

.task-list{
    /* position: relative; */
    margin-top: 20px;
    max-height: 325px;
    overflow-y: auto;
    overflow-x: hidden;
    /* padding-right: 50px; */
}


.task{
    display: flex;
    align-items: center;
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    width: 250px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 0px 10px;
    margin-bottom: 5px;
    border-radius: 30px;
    
    

}
.task-complete{
    text-decoration: line-through;
    background-color: gray;
    
}
.task-checkbox{
    background-color: black;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 255px;
    border-radius: 50%;
    border: none;
    outline: none;
}

.task-checkbox-tick::before{
    content: "\2713";
    color: aliceblue;
    font-size: 20px;
    position: absolute;
    top: 0px;
    right: 5px;
    /* content: '';
    position: absolute;
    right: 6px;
    top: 8px;
    width: 12px;
    height: 6px;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    transform: rotate(315deg); */
}
.dlt{
    position: absolute; 
    left: 275px;
    font-size: 1.2rem;
    padding: 6px 15px;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    font-family: 'Patrick Hand', cursive;
    
}

::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background: black;
    
}
::-webkit-scrollbar-track{
    background-color: aliceblue;
}

